:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@keyframes textmain {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes botton {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}
.TextLogo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  cursor: pointer;
}
.IconsLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  cursor: pointer;
}
.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 55px;
  gap: 30px;
}
.Slide-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.info{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  height: 400px;
  width: 400px;
  background-color: rgb(0, 0, 0);

}
.Slide{
  align-items: center;
  justify-content: center;

  height: 400px;
  width: 400px;
}
.MainText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  animation: textmain 1s ease 0s 1 normal forwards;
}
/* Fazer depois o projeto do texto MAIN COM AS IMAGEM NO FORMATO GRID (PEGAR SEPARADAMENTE AS IMAGEM E ORDERNAR JUNTO COM O TEXTO*/
.texttop {
display: flex;
align-items: center;
justify-content: space-between;
gap: 9px;
height: 55px;


/*width: 781px;
height: 96px;
left: calc(50% - 781px/2 + 0.5px);
top: calc(50% - 96px/2);*/


}
.textbottom{
  display: flex;
  
}
.img-textalling{
  display: flex;
  align-items: center;
  height: 20px;
  
}

.div-btt{
  display: flex;
  align-items: center;
  justify-content: center;
  animation: botton 1.5s cubic-bezier(0.65, 0, 0.35, 1) 0s 1 normal none;

}
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 400px;
  width: 400px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}



